<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DirName" value="C:\\temp\\BadAdControlRecsLast7Days"></add>
    <add key="OutFileName" value="C:\\temp\\AdControlIdsLast7Days.csv"/>
  </appSettings>
</configuration>